[Unit]
Description=Dirpy image resizer
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --emperor /etc/dirpy/conf --logto /var/log/dirpy/uwsgi.log
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

